.merchantLogin{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.merchantLogin Form{
    box-shadow: 0px 0px 10px silver;
    background-image: url("https://www.shutterstock.com/shutterstock/photos/1696911250/display_1500/stock-photo-multi-exposure-of-woman-hands-working-on-computer-and-brain-hologram-drawing-ai-concept-1696911250.jpg");
    /* background-position: 100vh; */
    background-size: cover;
    background-repeat: none;
    padding: 30px 30px;
    border-radius: 10px;
    /* background-color: aqua; */
}
.merchantLogin label{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-style: italic;
}
.merchantLogin input{
    color: black;
    /* font-weight: bold; */
}
.merchantLogin Form:hover{
    transform: scale(1.1);
    transition: .5s;
}
.merchantLogin h4{
    text-align: center;
    color:black;
    font-family: cursive;
}


.merchantLogin a{
    text-decoration: none;
    color: white;
}
